@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row" id="divAction">
        <div class="col-12">
            <button type="button" class="btn btn-primary" onclick="showMessage()">Show Message</button>
        </div>
    </div>
    <hr />
    <div class="row" style="margin-top:10px">
        <div class="col-12">
            <div class="text-success" id="message-success"></div>
            <div class="text-danger" id="message-error"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://alcdn.msauth.net/lib/1.2.0/js/msal.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        if (typeof Msal === 'undefined') document.write(unescape("%3Cscript src='https://alcdn.msftauth.net/lib/1.2.0/js/msal.js' type='text/javascript' %3E%3C/script%3E"));
    </script>
    <script>
        const config = {
            auth: {
                clientId: '4321c5f0-baf2-4764-bc9f-27d902f675a6',
                authority: 'https://login.microsoftonline.com/90d60228-aefe-4588-a559-45e1e4b81925',
                redirectUrl: 'https://localhost:7078'
            },
            cache: {
                cacheLocation: "sessionStorage",
                storeAuthStateInCookie: false
            }
        };

        const myMSALObj = new Msal.UserAgentApplication(config);

        function showMessage() {

            const loginRequest = {
                scopes: ["openid", "profile", "user.read"]
            };

            myMSALObj.loginPopup(loginRequest).then((loginResponse) => {
                // Handle successful login response
                //console.log("Login successful!", loginResponse);

                const accessTokenRequest = {
                    scopes: ["api://5197c221-13ff-4a36-a70e-d3989fb9ce7e/.default"]
                };

                myMSALObj.acquireTokenSilent(accessTokenRequest).then((accessTokenResponse) => {
                    let accessToken = accessTokenResponse.accessToken;
                    let apiEndPoint = "https://localhost:7078/hello";
                    let bearer = "Bearer " + accessToken;

                    $.ajax({
                        url: apiEndPoint,
                        type: "GET",
                        beforeSend: function (xhr) {xhr.setRequestHeader('Authorization', bearer)}
                    }).done((result) => {
                        $('#message-success').text(result);
                    }).fail(() => {
                        $('#message-error').text("Something went wrong");
                    });
                });

            }).catch((error) => {
                // Handle error
                console.error("Login failed!", error);
            });

        }
    </script>
}